.home{
    width: 100%;
    margin: 0;
}
.home-img{
    width: 100%;
    

}
.h-te {
	z-index: 10px;
	color: white;
	margin-top: -35%;
	margin-left: 102px;
}
.home-but{
    background-color: black;
    color: white;
    padding: 13px;
}


.hed2{
    margin-top: 400px;
}

.box-1{
    width: 50%;
}
.grid-container{
    display: grid;
}
.card1 {
	width: 427px;
	height: 396px;
	
	padding: 20px;
	/* display: flex; */
	margin: 108px;
	margin-top: 20px;
    background-image: url("assets/images/12.jpg");
}

.card2 {
	width: 427px;
	height: 396px;
	background-color: rgb(85, 182, 109);
	padding: 20px;
	/* display: flex; */
	margin: 108px;
	margin-top: -86px;
    background-image: url("assets/images/14.jpg");
}

.card3 {
	width: 1103px;
	height: 853px;
	background-color: rgb(201, 214, 11);
	padding: 20px;
	float: left;
	margin-left: 33%;
	margin-top: -1003px;
    background-image: url("assets/images/13.jpg");
}

.car1-te{
    color: whitesmoke;
margin-top: 396px;}

.car1-te3{
    color: whitesmoke;
margin-top: 848px;
}

.flex-container{
    display: flex;
    padding: 20px;
    margin-left: 80px;
}
.crd1{
    width: 500px;
    height: 500px;
  margin-left: 20px;
    background-image: url("assets/images/21.jpg");
}
.crd2{
    width: 500px;
    height: 500px;
    margin-left: 30px;
    background-image: url("assets/images/22.jpg");
}
.crd3{
    width: 500px;
    height: 500px;
    margin-left: 50px;
    background-image: url("assets/images/23.jpg");
}
.car1-te5{
    margin-top: 482px;
    color: white;
}

.news-img{
    width: 60%;
}

.new-tex1{
    margin-top: -278px;
	margin-left: 671px;
}.new-tex {
	float: left;
	margin-top: -111px;
	margin-left: 671px;
}


.crd31{
    width: 500px;
    height: 500px;
  margin-left: 10px;
    background-image: url("assets/images/31.jpg");
    margin-top: 222px;
}
.crd32{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    background-image: url("assets/images/32.webp");
    margin-top: 222px;
}
.crd33{
    width: 500px;
    height: 500px;
    margin-left: 30px;
    background-image: url("assets/images/33.jpg");
    margin-top: 222px;
}

.tex{
    margin-top: 518px;
}

.crd11{
    width: 400px;
    height: 400px;
  margin-left: 10px;
  
    
}
.crd12{
    width: 400px;
    height: 400px;
    margin-left: 30px;
   
}
.crd13{
    width: 400px;
    height: 400px;
    margin-left: 50px;
   
  
}
.crd14{
    width: 400px;
    height: 400px;
    margin-left: 50px;
  
    
}
.crd15{
    width: 400px;
    height: 400px;
  margin-left: 10px;
  
}
.crd16{
    width: 400px;
    height: 400px;
    margin-left: 30px;
    
}
.crd17{
    width: 400px;
    height: 400px;
    margin-left: 50px;
  
  
}
.crd18{
    width: 400px;
    height: 400px;
    margin-left: 50px;
   
    
}
.flex-container3{
    margin-top: 30px;
}
.footer{
    width: 100%;
   height: 180px;
    background-color: black;
    color: white;
  float: left;
 
    
}
.foot{
    
    list-style-type: none;
}
.fli {
	display: flex;
	float: left;
	padding: 38px;
    margin-top: 2px;
}
.soci{
    margin-top: 40px;
}
i{
    margin-left: 20px;
}
